<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gztd.test01"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.gztd.test01.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.gztd.test01.LoginActiviy" />
        <activity android:name="com.gztd.test01.DeployActivity" />
        <activity android:name="com.gztd.test01.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gztd.verify.SmallVerifyActivity" />
        <activity android:name="com.gztd.verify.BigVerifyActivity" />
        <activity android:name="com.gztd.deliver.BigVerifyActivity" />
        <activity android:name="com.gztd.deliver.SmallVerifyActivity" />
        <activity android:name="com.gztd.inventory.InventoryActivity" />
        <activity android:name="com.gztd.verify.DocumentActivity" />
    </application>

</manifest>